In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from subprocess import check_output
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [4]:
df=pd.read_csv("./Generative AI Dataset/Dataset/train.csv")

In [5]:
df

,labels,f_0,f_1,f_2,f_3,f_4,f_5,f_6,f_7,f_8,...,f_1190,f_1191,f_1192,f_1193,f_1194,f_1195,f_1196,f_1197,f_1198,f_1199
0,0,-2.033875,0.978446,-0.142131,-0.177117,-1.470684,1.669562,-0.196530,-0.125239,-0.452284,...,-1.111266,0.716084,0.060039,0.301279,-1.174846,-1.076498,-0.069452,-0.604012,-2.179176,0.558003
1,1,-0.348835,0.294815,-0.557577,-2.020773,-1.234715,1.633930,-1.680658,-0.358146,0.166122,...,0.735240,0.829781,1.521941,1.347946,0.754505,1.330642,-0.754453,0.582956,0.252671,1.495870
2,1,0.113248,-0.607726,-0.947791,0.830851,0.998291,0.498321,-1.493958,0.789572,-1.311018,...,0.104698,0.616189,-1.035953,2.111387,-0.984415,1.148076,-1.433554,0.243372,0.170083,1.274795
3,0,1.223321,-0.479048,-1.925789,1.680377,0.021840,-1.453307,0.605559,-0.019024,1.065448,...,0.360237,-1.957863,-0.123384,1.505329,0.660290,-1.769443,-0.547756,-0.568122,0.244645,0.982116
4,0,0.160109,0.422684,-0.308029,0.227744,0.432854,0.608348,0.193832,1.035091,-0.538868,...,0.416629,1.441766,0.212572,-0.994721,1.143999,-2.166923,-1.199248,-1.028636,0.752791,0.317169
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5245,0,1.157565,-0.142219,1.043992,1.144946,1.195423,0.248978,-1.505100,-0.874137,-1.782724,...,1.195423,-0.255793,-0.154838,0.413029,-0.482939,-1.277953,-0.445082,1.195423,-0.924614,-0.432462
5246,0,1.424709,0.235910,1.356778,1.368099,-0.318862,1.039765,-0.986854,-0.330184,-1.383120,...,1.424709,-1.066107,0.881258,-0.488691,-1.281223,-1.213291,0.122692,1.175627,-1.145360,0.451026
5247,1,-0.375687,1.524455,0.012514,-0.007917,0.073809,-0.906909,-1.254247,1.606182,0.298557,...,-0.028349,-0.968204,-1.233815,1.626613,-0.191802,1.115823,0.380284,-0.293960,0.135104,1.381434
5248,1,-0.478238,1.666142,0.049609,-0.428752,-0.362771,1.798104,-0.214314,0.775400,-0.379267,...,-0.428752,-1.121552,-0.379267,-0.593705,0.049609,1.765114,0.313533,-0.329781,-1.220524,0.033114
5249,1,-0.750874,0.267008,-0.155041,-0.179867,-0.155041,-0.303999,-0.279173,1.731765,0.564925,...,-0.303999,-0.850180,0.937321,-1.594972,1.036626,1.582807,1.036626,-0.254346,0.664230,1.831071

In [6]:
df.shape

(5250, 1201)

In [7]:
labels = df.pop('labels')  
df['labels'] = labels
df

,f_0,f_1,f_2,f_3,f_4,f_5,f_6,f_7,f_8,f_9,...,f_1191,f_1192,f_1193,f_1194,f_1195,f_1196,f_1197,f_1198,f_1199,labels
0,-2.033875,0.978446,-0.142131,-0.177117,-1.470684,1.669562,-0.196530,-0.125239,-0.452284,-0.128052,...,0.716084,0.060039,0.301279,-1.174846,-1.076498,-0.069452,-0.604012,-2.179176,0.558003,0
1,-0.348835,0.294815,-0.557577,-2.020773,-1.234715,1.633930,-1.680658,-0.358146,0.166122,-1.656990,...,0.829781,1.521941,1.347946,0.754505,1.330642,-0.754453,0.582956,0.252671,1.495870,1
2,0.113248,-0.607726,-0.947791,0.830851,0.998291,0.498321,-1.493958,0.789572,-1.311018,0.848524,...,0.616189,-1.035953,2.111387,-0.984415,1.148076,-1.433554,0.243372,0.170083,1.274795,1
3,1.223321,-0.479048,-1.925789,1.680377,0.021840,-1.453307,0.605559,-0.019024,1.065448,0.717341,...,-1.957863,-0.123384,1.505329,0.660290,-1.769443,-0.547756,-0.568122,0.244645,0.982116,0
4,0.160109,0.422684,-0.308029,0.227744,0.432854,0.608348,0.193832,1.035091,-0.538868,0.778445,...,1.441766,0.212572,-0.994721,1.143999,-2.166923,-1.199248,-1.028636,0.752791,0.317169,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5245,1.157565,-0.142219,1.043992,1.144946,1.195423,0.248978,-1.505100,-0.874137,-1.782724,0.261597,...,-0.255793,-0.154838,0.413029,-0.482939,-1.277953,-0.445082,1.195423,-0.924614,-0.432462,0
5246,1.424709,0.235910,1.356778,1.368099,-0.318862,1.039765,-0.986854,-0.330184,-1.383120,1.243559,...,-1.066107,0.881258,-0.488691,-1.281223,-1.213291,0.122692,1.175627,-1.145360,0.451026,0
5247,-0.375687,1.524455,0.012514,-0.007917,0.073809,-0.906909,-1.254247,1.606182,0.298557,0.053378,...,-0.968204,-1.233815,1.626613,-0.191802,1.115823,0.380284,-0.293960,0.135104,1.381434,1
5248,-0.478238,1.666142,0.049609,-0.428752,-0.362771,1.798104,-0.214314,0.775400,-0.379267,0.725914,...,-1.121552,-0.379267,-0.593705,0.049609,1.765114,0.313533,-0.329781,-1.220524,0.033114,1
5249,-0.750874,0.267008,-0.155041,-0.179867,-0.155041,-0.303999,-0.279173,1.731765,0.564925,1.508328,...,-0.850180,0.937321,-1.594972,1.036626,1.582807,1.036626,-0.254346,0.664230,1.831071,1

In [8]:
df.duplicated().sum()

0

In [9]:
df['labels'].value_counts()

0    3850
1    1400
Name: labels, dtype: int64

In [10]:
dft=pd.read_csv('./Generative AI Dataset/Dataset/test.csv')

In [11]:
X_train=df.drop(columns=['labels'])
y_train=df['labels']
X_test=dft.drop(columns=['id'])

In [26]:
from sklearn.preprocessing import StandardScaler
ss_train = StandardScaler()
X_train = ss_train.fit_transform(X_train)
ss_test = StandardScaler()
X_test = ss_test.fit_transform(X_test)

In [27]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.model_selection import train_test_split, cross_val_score

In [28]:
k = 5
model = KNeighborsClassifier(n_neighbors=k)
model.fit(X_train, y_train)

KNeighborsClassifier()

In [29]:
predictions = model.predict(X_test)

In [30]:
# final = pd.DataFrame(predictions,columns=['labels'])
# final['id']=0;
# for i in range(len(final)):
#     final.at[i, 'id'] = i + 1

# final = final.rename(columns={'labels': 'id', 'id': 'labels'})
# final['labels'], final['id'] = final['id'], final['labels']
# final

In [31]:
# final.to_csv('solution.csv', index=False)

In [32]:
scaler = StandardScaler()
X_train_scaled=scaler.fit_transform(X_train)
X_test_scaled=scaler.transform(X_test)

In [46]:
print(X_train_scaled)
print("**********")
print(X_test_scaled)

[[-2.60426628  0.99197232 -0.47376538 ... -1.03381538 -2.00978998
   0.6148496 ]
 [-0.79041827  0.23144671 -0.90237498 ...  0.22311512  0.48813418
   1.66050162]
 [-0.29301293 -0.77261046 -1.30495363 ... -0.13648457  0.40330259
   1.41401959]
 ...
 [-0.81932242  1.59939616 -0.31422009 ... -0.70548846  0.36737287
   1.53291384]
 [-0.92971308  1.75702021 -0.27594966 ... -0.74342066 -1.02508969
   0.02963718]
 [-1.22319016  0.20051236 -0.48708444 ... -0.66353987  0.9108762
   2.03422597]]
**********
[[-3.99766283  0.90850621 -0.86053999 ... -0.84374006 -0.32079492
  -1.92542557]
 [-0.94547318  1.00570603  0.66536668 ...  1.70674983  0.90760882
  -0.50419365]
 [ 0.77024325 -0.71683975  2.34062452 ... -1.00257203 -0.66977485
   1.21399921]
 ...
 [ 0.90084345  1.3191385  -0.23422056 ...  0.89065631 -1.23610518
   1.56326275]
 [ 0.67972755 -0.24436042  0.74884119 ...  0.71912829 -1.25167718
   0.50212592]
 [-1.8138962  -0.65583759 -0.50604008 ...  0.06211087  0.15354715
  -0.66619123]]

In [47]:
import tensorflow
from tensorflow import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.optimizers import Adam
from keras.layers import Dropout
from keras.callbacks import EarlyStopping

In [48]:
from keras.layers.serialization import activation
model = Sequential()
model.add(Dense(128, input_dim=1200, activation='relu'))
model.add(Dropout(0.5))
model.add(Dense(64, activation='relu'))
model.add(Dropout(0.5))
model.add(Dense(32, activation='relu'))
model.add(Dense(1, activation='sigmoid'))

In [49]:
model.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_8 (Dense)             (None, 128)               153728

 dropout_4 (Dropout)         (None, 128)               0

 dense_9 (Dense)             (None, 64)                8256

 dropout_5 (Dropout)         (None, 64)                0

 dense_10 (Dense)            (None, 32)                2080

 dense_11 (Dense)            (None, 1)                 33

=================================================================
Total params: 164,097
Trainable params: 164,097
Non-trainable params: 0
_________________________________________________________________

In [50]:
model.compile(loss='binary_crossentropy',optimizer=Adam(lr=0.001),metrics=['accuracy'])

In [51]:
history=model.fit(X_train_scaled, y_train, epochs=15, batch_size=32, validation_split=0.1)

Epoch 1/15
148/148 [==============================] - 1s 4ms/step - loss: 0.4843 - accuracy: 0.7594 - val_loss: 0.0790 - val_accuracy: 0.9714
Epoch 2/15
148/148 [==============================] - 0s 3ms/step - loss: 0.3705 - accuracy: 0.8260 - val_loss: 0.0794 - val_accuracy: 0.9695
Epoch 3/15
148/148 [==============================] - 0s 3ms/step - loss: 0.3080 - accuracy: 0.8605 - val_loss: 0.0834 - val_accuracy: 0.9771
Epoch 4/15
148/148 [==============================] - 0s 3ms/step - loss: 0.2416 - accuracy: 0.8978 - val_loss: 0.1040 - val_accuracy: 0.9790
Epoch 5/15
148/148 [==============================] - 0s 3ms/step - loss: 0.1863 - accuracy: 0.9261 - val_loss: 0.1263 - val_accuracy: 0.9752
Epoch 6/15
148/148 [==============================] - 0s 3ms/step - loss: 0.1416 - accuracy: 0.9469 - val_loss: 0.1328 - val_accuracy: 0.9790
Epoch 7/15
148/148 [==============================] - 0s 3ms/step - loss: 0.1197 - accuracy: 0.9566 - val_loss: 0.2064 - val_accuracy: 0.9752
Epoch 8/15
148/148 [==============================] - 0s 3ms/step - loss: 0.0909 - accuracy: 0.9653 - val_loss: 0.1857 - val_accuracy: 0.9771
Epoch 9/15
148/148 [==============================] - 0s 3ms/step - loss: 0.0907 - accuracy: 0.9685 - val_loss: 0.1763 - val_accuracy: 0.9771
Epoch 10/15
148/148 [==============================] - 0s 3ms/step - loss: 0.0706 - accuracy: 0.9763 - val_loss: 0.1603 - val_accuracy: 0.9771
Epoch 11/15
148/148 [==============================] - 0s 3ms/step - loss: 0.0571 - accuracy: 0.9790 - val_loss: 0.1879 - val_accuracy: 0.9810
Epoch 12/15
148/148 [==============================] - 0s 3ms/step - loss: 0.0506 - accuracy: 0.9829 - val_loss: 0.2018 - val_accuracy: 0.9771
Epoch 13/15
148/148 [==============================] - 0s 3ms/step - loss: 0.0402 - accuracy: 0.9848 - val_loss: 0.2511 - val_accuracy: 0.9771
Epoch 14/15
148/148 [==============================] - 0s 3ms/step - loss: 0.0418 - accuracy: 0.9848 - val_loss: 0.2335 - val_accuracy: 0.9752
Epoch 15/15
148/148 [==============================] - 0s 3ms/step - loss: 0.0490 - accuracy: 0.9822 - val_loss: 0.3306 - val_accuracy: 0.9810

In [52]:
y_log=model.predict(X_test_scaled)

71/71 [==============================] - 0s 1ms/step

In [53]:
y_pred=np.where(y_log>0.5,1,0)

In [54]:
from sklearn.metrics import accuracy_score

In [55]:
final = pd.DataFrame(y_pred,columns=['labels'])
final['id']=0;
for i in range(len(final)):
    final.at[i, 'id'] = i + 1

final = final.rename(columns={'labels': 'id', 'id': 'labels'})
final['labels'], final['id'] = final['id'], final['labels']
final

        id  labels
0        1       0
1        2       0
2        3       0
3        4       0
4        5       0
...    ...     ...
2245  2246       0
2246  2247       0
2247  2248       1
2248  2249       0
2249  2250       1

[2250 rows x 2 columns]

In [56]:
final.to_csv('solution.csv', index=False)